.list-1 {
  color: aqua;
  text-decoration: underline;
}

div {
  background-color: tomato;
  margin: 10px;
  text-decoration: indigo;
  padding: 20px;
}
h3 {
  border: 10px;
  color: rgb(255, 255, 255);
  font-size: 40px;
}
li {
  color: rgb(38, 188, 48);
  /* display: inline; */
}

img {
  height: 300px;
  width: 300px;
}
.heading {
  color: red;
}
